<div>
    <h1>Logo Simulator Login Page</h1>

    <div>
        <form novalidate>
        <div>
           username: <input ng-model="login.name" type="text"/>            
        </div>
        <div>
           password: <input ng-model="login.password" type="password"/>
        </div>
        </div>
            <input type="submit" ng-click="login.login()" value="login"/>
        </form>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
</div>