<div class="container">

    <div style="text-align: center;">
        <form class="form-signin text-center">
            <h2 class="form-signin-heading">Logo Simulator Login Page</h2>
            
            <div style="width:25%; display:block; margin: 0 auto;">
                <div class="text-center">
                   <label class="sr-only" for="loginName">Name</label> 
                   <input id="loginName" class="form-control" ng-model="login.name" type="text"/>            
                </div>
                <div>
                   <label class="sr-only" for="password">Password</label> 
                   <input class="form-control" id="password" ng-model="login.password" type="password"/>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" 
                            ng-click="login.login()">
                            log in
                    </button>
                </div>
                <div class="alert {{login.alertClass}}" ng-show="{{login.message != null}}">
                    <strong>{{login.message}}</strong> 
                </div>
            </div>
        </form>
    </div>
</div>