
    <div class="container">
      <div class="row">
      <div class="col-md-12">
        <h1>Logo Simulator</h1>
      </div>
      </div>
      <div class="row">
      <div class="col-md-12">
      <div class="row"/>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">commands</div>
            <div class="panel-body" style="position: relative; bottom: 0; right: 0;">
            <ul class="list-group">
                <li class="list-group-item" 
                    ng-repeat="command in logo.commands">
                    <a href="" 
                       ng-mouseover="logo.describe(command)"
                       ng-click="logo.commandSelected(command)">
                        {{command.id}}
                    </a>
                </li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
        <div class="jumbotron" style="max-height:20;overflow-y: scroll;">
          </p> 
          <canvas id="logoCanvas" width="200" height="70" style="width:100%"></canvas>
        </div>
      </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{logo.selectedCommandDescription}}
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="alert {{logo.alertClass}}">
              <strong>{{logo.execOutcomeMessage}}</strong> 
            </div>
          </div>
      </div>
        <div class="row">
            <div class="col-md-10">
              <textarea rows="8" cols="20" style="width: 100%"
                        ng-model="logo.currentCommands">
              </textarea>
            </div>
            <div class="col-md-2">
              <div class="btn-group-vertical" style="width:90%">
                <button type="button" class="btn btn-primary"
                        ng-click="logo.evaluate()">run</button>
                <button type="button" class="btn btn-primary">clear</button>
              </div>
            </div>
        </div>
        <div>
        </div>
    </div>
 