<div class="container">
	<div class="page-header">
		<h1>Logo Commands</h1>
		<p class="lead"></p>
	</div>

	<div class="row">
		<div class="col-sm-11">
	        <h3 class="panel-title"><b>Welcome {{vm.loggedUser}}</b></h3>
	    </div>
	    <div class="col-sm-1">
	    	<a href="" ng-click="vm.logOut()"> 
	    		Logout
	    	</a>
	    </div>
    </div>

	<div class="panel panel-default" ng-show="!vm.showNewCommand">
		<div class="panel-heading">
				List of Commands
        </div>
        <div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>command</th>
						<th>description</th>
						<th>remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="command in vm.commands">
						<td>
							<a href="v1/edit/{{command.id}}" ng-click="vm.selectCommand(command)">{{command.id}}</a>
						</td>
						<td>{{command.commandDescription}}</td>
						<td>
							<button type="button" class="btn btn-default" ng-click="vm.removeRow(command)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="btn-group">
   		<a href="v1/edit"
		   ng-show="!vm.showNewCommand"
		   class="btn btn-primary" 
		   ng-click="vm.newCommand()">New Command
		 </a>
	</div>
</div>
