<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		 <meta name="description" content="">
	     <meta name="author" content="">
		 <link rel="icon" href="../../favicon.ico">

		 <title>Logo Command Simluator - back office</title>

    <!-- Bootstrap core CSS -->
		 <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

<body ng-app="CommandModule">
	<div ng-controller="CommandController as cmd">
		<div class="container">

			<div class="page-header">
				<h1>Logo Commands</h1>
				<p class="lead"></p>
			</div>

			<div class="panel panel-default" ng-show="!showNewCommand">
				<div class="panel-heading">
		            <h3 class="panel-title">List of Commands</h3>
	            </div>
	            <div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>command</th>
								<th>description</th>
								<th>remove</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="command in commands">
								<td>
									<a href="" ng-click="selectCommand(command)">{{command.id}}</a>
								</td>
								<td>{{command.commandDescription}}</td>
								<td>
									<button type="button" class="btn btn-default" ng-click="removeRow(command)">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="btn-group">
				<a href="#/all" 
				   ng-show="!showNewCommand"
				   class="btn btn-primary" 
				   ng-click="newCommand()">New Command</a>
				<a href="#/all" 
				   ng-show="showNewCommand"
				   class="btn btn-primary" 
				   ng-click="toCommandList()">To Command List</a>
			</div>
			<div class="panel panel-default" ng-show="showNewCommand">
				<div class="panel-heading">
		            <h3 class="panel-title">New Command</h3>
	            </div>
	            <div class="panel-body">
					<form>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-2">Command Name</div>
							<div class="col-sm-8">
								<input type="text" style="width:70%" 
									   ng-readonly="updateable" 
									   ng-model="input.id"/>

									   {{updateable}}
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-sm-12">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-2">Description</div>
							<div class="col-sm-8">
								<textarea rows="10" cols="15" style="width:70%;" 
										  ng-model="input.commandDescription"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm-2">
								<div class="btn-group" style="width:80%; horizontal-align: centre">
									<a href="#/all" class="btn btn-primary" 
										ng-show="updateable" ng-click="addCommand()">Update</a>
									<a href="#/all" class="btn btn-primary" 
										ng-show="!updateable" ng-click="addCommand()">Insert</a>
								</div>
							</div>
							<div class="col-sm-8"></div>
							</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../js/commands/commands.js"></script>

	</body>
</html>
